.icon {
    transform: rotate(-45deg);
    display: inline-block;
}

#socialicon li {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}

p,
li a,
#a {
    color: rgba(255, 255, 255, 0.7);
}

#footerDiv {
    font-size: 14px;
}

#tagName {
    letter-spacing: 4px;
}

#card {
    width: 302px !important;
}

.offcanvas {
    max-width: 67% !important;
}

@media (max-width:768px) {
    #card {
        width: 270px !important;
    }
}

@media (max-width:425px) {
    #card {
        width: 350px !important;
    }
}

@media (max-width:375px) {
    #para {
        width: 365px;
    }
}

@media (max-width:390px) {
    #card {
        width: 313px !important;
    }
}

@media (max-width:320px) {
    #card {
        width: 253px !important;
    }

    #para {
        width: 290px;
    }
}