@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Boldonse&family=Bowlby+One+SC&family=Cookie&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Dancing+Script:wght@400..700&family=DynaPuff:wght@400..700&family=Gabarito:wght@400..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Leckerli+One&family=Notable&family=Paprika&family=Playwrite+IN:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sigmar+One&family=Sriracha&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body a {
    text-decoration: none;
}

#but1 {
    border-radius: 35px;
    border: 1px solid #fff;
}

#but1 a {
    color: rgb(255, 255, 255);
    padding: 12px 16.5px 12px 16.5px;
    font-size: 14px;
    font-weight: 400;
}

#but2 {
    background-color: #ed1c24;
    border-radius: 35px;
    border: 1px solid #ed1c24;
}

#but2 a {
    color: #ffffff;
    padding: 12px 13.5px 12px 13.5px;
    font-size: 14px;
    font-weight: 400
}

#but2 a span {
    background-color: #fff;
    color: #dc3545;
    padding: 3px 6px;
    border-radius: 23px;
}

.column-gap-2 {
    align-items: center;
}

.divimg a {
    padding-left: 40px;
}

.sec1 img {
    width: 20%;
}

.sec2 {
    background-color: #000000;
    padding: 105px 0px;
}

.para {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}

.para span {
    font-family: "Boldonse", system-ui;
}

.para h1 {
    font-family: "Nunito Sans", sans-serif;
}

.para>h3 {
    font-size: 30px;
    padding-bottom: 10px;
}

.para>p {
    font-family: "Nunito Sans", sans-serif;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    padding-bottom: 15px;
}

.container00 {
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.img {
    background-color: white;
    border-radius: 3px;
    padding: 13px 6px;
}
.items {
    text-align: center;
}


.but {
    padding-top: 15px;
}

.but button {
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: transparent;
    border-radius: 50px;
    width: 174px;
    height: 50px;
}

.but button a , .itemssec2 button a {
    color: #FFFFFF;
}

.sec3 {
    background-color: #0F0F0F;
    padding-top: 80px;
}
.container02{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container02>h2{
    color: #FFFFFF;
    font-family: "Agbalumo", system-ui;
    font-size: 55px;
}
.container02>h3 {
    color: #FFFFFF;
    font-size: 44px;
    font-family: "Noticia Text", serif;
}

.container02>p {
    color: rgba(177, 176, 176, 0.7);
    font-weight: bold
}

.divsec3 {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.itemssec3>.small {
    text-align: left;
    font-size: 16px;
    letter-spacing: 0.48em;
    text-transform: uppercase;
    color: #ED1C24;
    font-weight: 500;
}

.itemssec3>h3 {
    text-align: left;
    color: #FFFFFF;
}

.itemssec3>p {
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
}
.itemssec3 h3 > span{
    font-family: "Aldrich", sans-serif;
    font-weight: bold;
}
.itemssec3 h3{
    padding-top: 10px;
    font-weight: 400;
}
.anhor1 {
    text-align: left;
}
#p{
    padding-top: 10px;
}
.anhor1>a , .anhor5>a , .anhor6>a{
    color: rgba(255, 255, 255, 0.7);
}
.secbut {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 174px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    color: #FFFFFF;
    margin-top: 44px;
}

.secbut>a ,.secbut5>a ,.secbut6>a{
    color: #FFFFFF;
}

.arrow-one , .arrow-one6 {
    background-color: #fff;
    color: #dc3545;
    padding: 5px 8px;
    border-radius: 30px;
}
.sec4{
    background-color: #050407;
}
#divsec4{
    justify-content: unset;
    padding-top: 65px;
    padding-left: 90px;
}
.sec5{
    background-color: #0F0F0F;
}
#divsec5{
    padding-top: 65px;
    padding-bottom: 70px;
}
.itemssec6>.small {
    font-size: 12px;
    letter-spacing: 0.48em;
    text-transform: uppercase;
    color: #ED1C24;
    font-weight: 500;
}

.itemssec6>h3 {
    color: #FFFFFF;
}

.itemssec6>p {
    color: rgba(255, 255, 255, 0.7);
}
.itemssec6 h3 > span{
    font-family: "Aldrich", sans-serif;
    font-weight: bold;
}
.itemssec6 h3{
    padding-top: 10px;
    font-weight: 400;
}
 .secbut6 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 174px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    color: #FFFFFF;
    margin-top: 38px;
}
.itemssec6{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 24px;
}
.sec6{
    background-color: #01091D;
}
.itemssec6 > h3{
    font-size: 18px;
}
.itemssec6 >p , .itemssec6 > a{
    font-size: 14px;
}
.para > h3{
    font-size: 48px;
    color: #FFFFFF;
    font-family: "Alegreya", serif;
    font-weight: bold;
}
.container00{
    padding-top: 20px;
}
#ibut{
    transform: rotate(-30deg);
}
.sec7{
    background-color: #0d0d0d;
}
.container06{
    padding-top: 38px;
}
.container06 {
    display: flex;
    justify-content: center;
    column-gap: 30px;
}
.sec8{
    background-color: #0D0D0D;
}
.sec8 img{
      height: 220px; 
      width: 100%;
      object-fit: cover;
}
.sec8 .container06 {
    column-gap: 15px;
}
#sec8{
    width: 90%;
}